server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bloodfinder
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: admin
      password: admin

logging:
  level:
    org.springframework.security: DEBUG
