server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://bloodfinder.ck7aocqiqyao.us-east-1.rds.amazonaws.com:3306/bloodfinder
    username: admin
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    user:
      name: admin
      password: admin

logging:
  level:
    org.springframework.security: DEBUG
